<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .form-group label {
    display:block; 
    }
    .card {
    margin-top:20vh; 
    padding :20px; 
    border-radius :10px; 
    box-shadow :0px 0px 10px rgba(0,0,0,0.2); 
    }
    .form-control{
    width :100%; 
    padding:.375rem .75rem;   
    font-size :1rem;   
    line-height :1.5 ;   
    color:#495057 ;   
    background-color:#fff ;   
    }
    .submit-button {
    background-color:#007bff; 
    color:white; 
    border:none ;  
    cursor:pointer ;  
    padding :10px ;  
    font-size :16px ;
    border-radius :5px ;
    }
    .submit-button:hover{
    background-color:#0056b3 ;
    }
    .flashes {
    list-style-type: none ;
    }    
    </style>
</head>

<body class="bg-light">

<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-4">
            <!-- 회원가입 -->
            <div class="card shadow-sm">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="card-body">
                    <h1 class="text-center mb-4">회원가입</h1>
                    <form action="/signup" method=post>

                        <!-- 유저 아이디 -->
                        <div class='form-group'>
                            <label for=username>아이디 입력:</label>
                            <input type=text id=username name=username required 
                                   placeholder='아이디 정해주세요' 
                                   class='form-control'>
                        </div>

                        <!-- 비밀번호 -->
                        <div class='form-group'>
                            <label for=password> 비밀번호 입력: </label>
                            <input type=password id=password name=password required 
                                    placeholder='비밀번호 입력하세요' 
                                    minlength=8
                                    title = "비밀번호는 최소 8자 이상이어야 합니다"
                                    pattern="[A-Za-z\d@$!%*?&]+"
                                    title = "Password can contain uppercase and lowercase letters, numbers and special characters @$!%*?&"
                                    autocomplete=new-password
                                    onpaste=return false
                                    onCopy=return false
                                    onCut=return false
                                    onDrag=return false
                                    onDrop=return false
                                class='form-control'>
                        </div>

                        <div class='form-group'>
                            <label for=password_confirm> 비밀번호 확인: </label>
                            <input type=password id=password_confirm name=password_confirm required 
                                placeholder='비밀번호가 맞는지 확인하세요' 
                                minlength=8
                                title = "이전에 입력했던 비밀번호가 맞아야합니다"
                                pattern="[A-Za-z\d@$!%*?&]+"
                                title = "Password can contain uppercase and lowercase letters, numbers and special characters @$!%*?&"
                                autocomplete=new-password
                                onpaste=return false
                                onCopy=return false
                                onCut=return false
                                onDrag=return false
                                onDrop=return false  
                                class='form-control'>
                        </div> 
 

                        <!-- 이메일 -->
                        <div class='form-group'>
                            <label for=email> 이메일 입력: </label>
                            <input type=email id=email name=email required 
                                    placeholder='이메일을 입력해주세요' 
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                    title = "Please include '@' and '.' in the email address"
                                    autocomplete=new-password
                                    onpaste=return false
                                    onCopy=return false
                                    onCut=return false
                                    onDrag=return false
                                    onDrop=return false
                                    class='form-control'>
                        </div>
                        <input class='submit-button' type='submit' value='회원가입'>
                    </form> 
                </div>  
            </div>  
        </div>  
    </div> 
</body>
</html>
